@model AirShoesNic01.Models.Informacion_del_envio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Informacion_del_envio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_de_Envio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_de_Envio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado_de_envio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado_de_envio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedido.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
