@model IEnumerable<AirShoesNic01.Models.Informacion_del_envio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_de_Envio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_de_envio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_de_Envio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_de_envio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
